@model DataAccess.Entity.Genre

@{
    ViewBag.Title = "Tür Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                <h4>@ViewBag.Title</h4>
            </header> <br />
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Tür Adı</label>
                        <div class="col-lg-10">
                            <input name="GenreName" type="text" class="form-control" placeholder="tür adı">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>