@model DataAccess.Entity.Movie
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
        <div class="row">
            <div class="panel">
                <div class="alert alert-danger">
                    <form method="post">
                        <h2> @Model.MovieName</h2><br />
                        <span>Silmek istediğinize emin misiniz?</span><br />
                        <button type="submit" class="btn btn-danger">Evet Sil</button>
                        <a href="/Admin/Movie" class="btn">İptal</a>
                    </form>
                </div>
            </div>
        </div>
</div>
